/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*-----------*/

/*-----------------strat header-----------------------*/
.header{
	height: 20vh;
	background: #FFDAB9;
	display: flex;
	justify-content: center;
}
h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 900;
}
.header__subtitle{
	font-family: 'Times New Roman', Times, serif; 
	font-size: 24px;
	font-weight: 900;

}
.ava{
	 border: solid 2px #BC8F8F;
    height: 200px;
    width: 200px;
    border-radius: 100px;

}
/*----------------finish header------------------------*/

/*----------------start main--------------------------*/
.main{
	display: flex;
	min-height: calc(100vh - 25vh);
	flex-direction: row;
}
.about{
background: #BC8F8F;
flex: 1;
}
.skills{
background-color: #6e5d5d;
flex: 1;
}

/*-----------------finish main--------------------------*/


/*----------------start footer--------------------------*/
.footer{
	height: 5vh;
	background: #FFDAB9;
}

/*----------------finish footer------------------------*/

